<%- include("includes/head.ejs") %>
  <body>
    <%- include("includes/navigation.ejs") %>
    <main>
      <form class="product-form" action="/add-user" method="POST">
        <div class="form-control">
          <label for="user"></label>
          <input type="text" name="user" id="user" />
        </div>
        <button class="btn" type="submit">Add User</button>
      </form>
    </main>
<%- include("includes/end.ejs") %>
