<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Users</a>
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === '/add-user' ? 'active' : '' %>"
          href="/add-user"
          >Add User</a
        >
      </li>
    </ul>
  </nav>
</header>
